@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Добавляем стили для робота --- */

@media (max-width: 768px) {
  .robot-image {
    width: 50%;
    position: absolute;
    right: 10px;
    bottom: -50px;
    opacity: 0.8;
  }
}

@media (min-width: 768px) {
  .robot-image {
    width: 300px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.9;
  }
}
